body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.nav {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    margin: 0;
}

.nav li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav li a:hover {
    color: #ff9800;
}

.auth-nav {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    margin: 0;
    align-items: center;
}

.auth-text {
    margin-right: 10px;
}

.logout-button,
.login-link {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    transition:  0.3s, color 0.3s;
}

.logout-button:hover,
.login-link:hover {
    background: #ff9800;
    color: black;
    cursor: pointer;
}

main {
    padding: 20px;
}

footer {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
